---
layout: archive
---

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Stack" }}</h3>

<li>
  I'm using  
  <img src="\assets\images\python_tag.png", width="80px">  
</li>
  
<li>
  I'm learning 
  <img src="\assets\images\docker_tag.png", width="80px">  
  <img src="\assets\images\spark_tag.png", width="80px">
</li>
 
{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
